body {
  height: 100vh;
  margin: 0 auto;
}
.header {
  text-align: center;
}
.header__menu li {
  display: inline;
}
.menu__list {
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 32px 35px 32px 0px;
}
.menu__list__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.main__img {
  width: 100%;
}

.main__container {
  padding: 88px 0px 88px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  width: 856px;
  text-align: center;
  margin: 0px auto;
}
.main__header {
  text-align: center;
  font-size: 48px;
}
.main__paragraph {
  font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
  text-align: start;
  margin: 0px auto;
}
.main__paragraph--span {
  font-weight: 500;
  color: #04959e;
}
.main__list {
  font-weight: 400;
  font-size: 18px;
  font-family: Inter;
  line-height: 27px;
  text-align: start;
  padding: 40px 0px 40px 0px;
  margin: 0px auto;
  width: 819px;
  color: #161616;
}
.main__btn {
  width: 97px;
  height: 24px;
  text-decoration: none;
  padding: 10px 24px 10px 24px;
  background-color: #04959e;
  text-align: center;
  color: white;
}
.footer {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 100%;
  padding: 16px 0px 16px 0px;
  border-top: 1px solid black;
}
.footer__paragraph {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
